#image {
    position: absolute;
    width: 50%; 
    height: auto;
    top: 3%;
    left: 3%;
}
#myVideo {
    position: absolute;
    width: 50%; 
    height: auto;
    top: 3%;
    left: 3%;
}
#controls {
    position: absolute;
    width: 20%; 
    height: auto;
    top: 3%;
    left: 56%;
}
p {
    line-height: 150%;
}